@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');

.background {
    -fx-background-color: radial-gradient(focus-distance 0%, center 50% 50%, radius 70%, black,black, #29289d);
    -fx-backgound-size: cover;
}
.botao {
    -fx-border-color: white;
    -fx-border-width: 3px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-background-color: #4354bf;
}
.botaoMenu {
    -fx-border-color: #acacac;
    -fx-background-color: #acacac;
}

.list-view {
    -fx-background-color: black; /* Cor de fundo */
    -fx-border-color: #333; /* Cor da borda */
    -fx-border-width: 2px; /* Espessura da borda */
    -fx-font-size: 14px; /* Tamanho da fonte */
    -fx-cell-size: 40px; /* Tamanho das células */
}

.list-cell {
    -fx-border-color: #333; /* Cor de fundo das células */
    -fx-background-color: black; /* Cor de fundo */
    -fx-padding: 10px; /* Espaçamento interno das células */
    -fx-text-fill: white;
}

.list-view .cell:selected {
    -fx-background-color:  #36449f; /* Cor de seleção */
}
